<h1>Add Celebrity</h1>

<form action="/celebrities/add-celebrities" method="post">

<label for="">Name:</label>
<input type="text" id="name" name="name">

<label for="">Occupation:</label>
<input type="text" id="occupation" name="occupation">

<label for="">Catchphrase:</label>
<input type="text" id="catchphrase" name="catchphrase">

<button type="submit">Add Celebrity</button>
</form>